
#jbdump {
    border: solid 1px #333333;
    border-radius: 6px;
    position: relative;
    z-index: 10101;
    min-width: 400px;
    max-width: 1280px;
    margin: 6px auto;
    padding: 6px;
    clear: both;
    background: #ffffff;
    opacity: 1;
    filter: alpha(opacity=100);
    font-size: 12px !important;
    line-height: 16px !important;
    text-align: left !important;
}

#jbdump ::selection {
    background: #89cac9;
    color: #333333;
    text-shadow: none;
}

#jbdump * {
    opacity: 1;
    filter: alpha(opacity=100);
    font-size: 12px !important;
    line-height: 16px !important;
    font-family: monospace, Verdana, Helvetica;
    margin: 0;
    padding: 0;
    color: #333333;
}

#jbdump li {
    list-style: none !important;
}

#jbdump .jbnode {
    margin: 0;
    padding: 0;
}

#jbdump .jbchild {
    margin: 0;
    padding: 0;
}

#jbdump .jbnode .jbnode {
    margin-left: 20px;
}

#jbdump .jbnode .jbpreview {
    font-family: "Courier New";
    font-size: 12px !important;
    overflow-wrap: normal;
    flex-direction: row;
    display: block;
    word-wrap: normal;
    white-space: pre;
    background: #f9f9b5;
    border: solid 1px #808000;
    border-radius: 6px;
    overflow: auto;
    margin: 12px 0;
    padding: 6px;
    min-height: 58px;
    height: 300px;
    text-align: left !important;
    width: 97%;
    color: #333333;
    min-width: 300px;
}

#jbdump .jbnode .jbpreview * {
    font-family: "Courier New";
    font-size: 12px !important;
}

#jbdump .jbchild {
    overflow: hidden;
}

#jbdump .jbvalue {
    font-weight: bold;
    font-family: monospace, Verdana, Helvetica;
    font-size: 12px;
}

#jbdump .jbfooter {
    border-top: 1px dotted #cccccc;
    padding-top: 4px;
}

#jbdump .jbfooter .jbversion {
    float: right;
}

#jbdump .jbfooter .jbversion a {
    color: #dddddd;
    font-size: 10px !important;
    text-decoration: none;
}

#jbdump .jbfooter .jbversion a:hover {
    color: #333333;
    text-decoration: underline;
}

#jbdump .jbfooter .jbpath {
    font-family: "Courier New";
}

#jbdump .jbelement {
    padding: 3px 3px 3px 20px;
    background-repeat: no-repeat;
    background-color: #ffffff;
    background-position: 5px 6px;
    background-image: url(\'data:image/gif;base64,R0lGODlhCQAJALMAAP////8AAICAgAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAACH5BAEAAAAALAAAAAAJAAkAAAQSEAAhq6VWUpx3n+AVVl42ilkEADs=\');
}

#jbdump .jbelement:hover {
    background-color: #c6e5ff;
}

#jbdump .jbelement.jbexpand {
    background-image: url(\'data:image/gif;base64,R0lGODlhCQAJALMAAP///wAAAP///wAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAACH5BAEAAAAALAAAAAAJAAkAAAQTEIAna33USpwt79vncRpZgpcGRAA7\');
    cursor: pointer;
}

#jbdump .jbelement.jbexpand.jbopened {
    background-image: url(\'data:image/gif;base64,R0lGODlhCQAJALMAAP///wAAAP///wAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAACH5BAEAAAAALAAAAAAJAAkAAAQQEMhJ63w4Z6C37JUXWmQJRAA7\');
}

#jbdump .jbelement .jbname {
    color: #aa0000;
    font-weight: bold;
}

#jbdump .jbelement .jbtype-integer {
    color: #0000dd;
}

#jbdump .jbelement .jbtype-float {
    color: #009999;
}

#jbdump .jbelement .jbtype-boolean {
    color: #999900;
}

#jbdump .jbelement .jbtype-string {
    color: #009900;
}

#jbdump .jbelement .jbtype-array {
    color: #999900;
}

#jbdump .jbelement .jbtype-null {
    color: #999999;
}

#jbdump .jbelement .jbtype-max-depth {
    color: #990000;
}

#jbdump .jbelement .jbtype-object {
    color: #cc00cc;
}

#jbdump .jbelement .jbtype-closure {
    color: #cc00cc;
}

#jbdump_profile_chart_table td img {
    height: 12px !important;
}

#jbdump_profile_chart_table {
    color: #333333 !important;
}

.google-visualization-table-table td img {
    height: 12px !important;
}